---
import siteConfig from '../data/site-config';
import { Image } from 'astro:assets';
import mobile from '../content/img/home/hero.jpg';
import mobile_dark from '../content/img/home/hero_dark.jpg';
import m1 from '../content/img/home/menn-running.jpg';
import m2 from '../content/img/home/menn-biking.jpg';
import m3 from '../content/img/home/menn-hiking.jpg';
import m4 from '../content/img/home/menn-pai.jpg';
import m5 from '../content/img/home/menn-working.jpg';
const m1_alt = 'Menn Running';
const m2_alt = 'Menn Biking';
const m3_alt = 'Menn on the mountains';
const m4_alt = 'Road to Pai, Thailand';
const m5_alt = 'Menn at Seed Webs office';
const hero = siteConfig.hero;
---

{
  (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
    <section class='w-full flex flex-col gap-2 mb-16 sm:mb-24'>
      <h1 class='text-3xl font-serif sm:mb-3 font-medium sm:text-5xl '>{hero.title}</h1>
      <h2 class='text-xl sm:text-[2rem] font-serif'>living in the mountains of Pai, Thailand.</h2>
    </section>
  )
}

<div class='mb-12 -mx-4 md:hidden dark:hidden' aria-hidden='true'>
  <Image src={mobile} alt='Menn in Pai, Thailand' class='w-full' widths={[390, 780]} quality={50} loading='eager' decoding='sync' />
</div>

<div class='hidden dark:block mb-12 -mx-4 dark:md:hidden' aria-hidden='true'>
  <Image src={mobile_dark} alt='Menn in Pai, Thailand' class='w-full' widths={[390, 780]} quality={50} loading='eager' decoding='sync' />
</div>

<div class='hidden md:block md:mb-20 mx-[calc(50%-50vw)]'>
  <div
    class='-my-4 flex justify-center py-4 overflow-hidden gap-6 lg:gap-8 *:relative *:aspect-[9/10] *:flex-none *:overflow-hidden *:rounded-xl *:shadow *:w-72 *:lg:w-64 *:xl:w-[315px]'
  >
    <div class='rotate-2 hidden sm:block'>
      <Image src={m1} alt={m1_alt} class='absolute inset-0 h-full w-full object-cover' widths={[315, 630]} quality={50} loading='eager' decoding='sync' />
    </div>
    <div class='-rotate-2'>
      <Image src={m2} alt={m2_alt} class='absolute inset-0 h-full w-full object-cover' widths={[315, 630]} quality={50} loading='eager' decoding='sync' />
    </div>
    <div class='rotate-1'>
      <Image src={m3} alt={m3_alt} class='absolute inset-0 h-full w-full object-cover' widths={[315, 630]} quality={50} loading='eager' decoding='sync' />
    </div>
    <div class='-rotate-1'>
      <Image src={m4} alt={m4_alt} class='absolute inset-0 h-full w-full object-cover' widths={[315, 630]} quality={50} loading='eager' decoding='sync' />
    </div>
    <div class='rotate-1 hidden sm:block'>
      <Image src={m5} alt={m5_alt} class='absolute inset-0 h-full w-full object-cover' widths={[315, 630]} quality={50} loading='eager' decoding='sync' />
    </div>
  </div>
</div>
