---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '../icons/ArrowRight.astro';
import FormattedDate from './FormattedDate.astro';
import { Image } from 'astro:assets';

type Props = { post: CollectionEntry<'stories'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title, publishDate, updatedDate, cover } = post.data;
const TitleTag = headingLevel;
---

<a class:list={['flex justify-between items-center gap-4 sm:gap-6  group', className]} href={`/stories/${post.slug}/`}>
  {
    cover && (
      <div class='rounded md:rounded-lg shadow overflow-hidden shrink-0 dark:border-black'>
        <Image class='block object-cover w-20 sm:w-32  md:w-40' width='160' height='160' src={cover} alt='Cover' widths={[160, 320]} />
      </div>
    )
  }
  <div class='grow'>
    <TitleTag
      class='text-lg leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-xl'
    >
      {title}
    </TitleTag>
    <div class='mt-3 text-sm leading-normal hidden sm:block'>
      <FormattedDate date={publishDate} />
      {
        updatedDate && (
          <>
            {' '}
            <span>
              (Updated on <FormattedDate date={updatedDate} />)
            </span>
          </>
        )
      }
    </div>
  </div>
  <div class='hidden font-serif italic opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0'>
    Read Post <ArrowRight class='fill-current w-4 h-4' />
  </div>
</a>
